/* User Config File template for use with Cosmic compiler */

/* Enable the inclusion of string.h where the inline mem* functions are declared */
#define VSTD_ENABLE_LIBRARY_FUNCTIONS

/* Do not use Std implementations of the mem* routines */
#define VSTD_USE_MEMORY_MACROS            STD_ON

/* Redirect the copy macros to the inline mem* functions */
#define VStdMemCpy_Macro(dst, src, len)    memcpy((dst), (src), (len))
#define VStdMemSet_Macro(dst, val, len)    memset((dst), (val), (len))
#define VStdMemClr_Macro(dst, len)         VStdMemClr_Func((VSTD_DEF_P2VAR_PARA(VSTD_NONE, vuint8, AUTOMATIC, VAR_FAR))(dst), (len))   
#define VStdMemCpyRom_Macro(dst, src, len) VStdMemCpy_Func((VSTD_DEF_P2VAR_PARA(VSTD_NONE, vuint8, AUTOMATIC, VAR_FAR))(dst), (VSTD_DEF_P2CONST_PARA(VSTD_NONE, vuint8, AUTOMATIC, CONST_FAR))(src), (len))

/* End v_cfg.h user config */
